* {
  margin: 0;
  font-family: "shabnam";
}
@font-face {
  font-family: "shabnam";
  src: url("../style/Shabnam.woff2");
}
body {
  background-color: rgb(255, 247, 237);
  cursor: default;
  position: relative;
}
a {
  color: black;
  text-decoration: none;
}
.div {
  background-color: rgb(255, 247, 237);
  position: relative;
}
.seo {
  display: none;
}
h2,
h3 {
  font-weight: 100;
  font-size: 1rem;
}
.img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  height: 5rem;
  background-color: rgb(228, 242, 223);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 500ms;
}
.hed-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.hed-1-c {
  position: relative;
}
.hed-1-c:hover .a-extra {
  cursor: pointer;
  width: 100%;
  transition: all 300ms;
}
.hed-2 {
  background-image: url("../pic/head.png");
  background-size: contain;
  height: 4rem;
  width: 20.3rem;
}
.a-extra {
  position: absolute;
  height: 2.5px;
  background-color: rgb(0, 111, 0);
  width: 0;
  transition: all 300ms;
}
.ss {
  width: 100%;
}
.panel-btn {
  position: fixed;
  width: 1.5rem;
  height: 1rem;
  top: 1.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 600ms;
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000;
  display: none;
}
.panel-btn-child {
  width: 1.5rem;
  height: 0.2rem;
  background-color: orange;
  position: relative;
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000;
  transition: all 600ms;
}
.t {
  top: calc(3.5rem / 2 - 0.5rem);
  transition: all 600ms;
}
.hola {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100000000000000000000000000000000000000000000000000000000000000;
  transition: all 600ms;
}
.panel {
  position: fixed;
  height: 100vh;
  width: 15rem;
  right: 0;
  top: 0;
  z-index: 100000000000000000000000000000000000000000000000000000000000000000;
  background-color: rgb(255, 247, 237);
  transition: all 600ms;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
.panel-titr {
  margin: 1rem 1rem 0 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: orange;
}
.panel-body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-right: 1rem;
  padding-left: 1rem;

  min-width: 10rem;
}
.sd {
  border-bottom: solid 1px rgb(169, 208, 127);
  padding-bottom: 0.3rem;
}
.w0 {
  width: 0%;
  transition: all 600ms;
}
.hidt {
  display: none;
  transition: all 600ms;
}
.r12 {
  right: 12.5rem;
  transition: all 600ms;
}
.cat {
  position: absolute;
  top: 0.4rem;
  transform: rotate(45deg);
  transform-origin: center;
  transition: all 600ms;
}
.cct {
  position: absolute;
  top: 0.4rem;
  transform: rotate(-45deg);
  transform-origin: center;
  transition: all 600ms;
}

.space {
  height: 16rem;
  background: transparent;
}
/* footer */
.footer {
  position: fixed;
  height: 16rem;
  width: 100%;
  bottom: 0;
  z-index: -3;
  background-color: rgb(228, 242, 223);
  display: flex;
  flex-direction: column;
}
.footer-hed-pic {
  height: 3rem;
  width: calc(3rem * 5.07);
  background-image: url("../pic/head.png");
  background-size: cover;
  margin: 1rem 1rem 0 0;
}
.footer-dad {
  display: flex;
  padding: 1rem 1rem 0 0;
  gap: 5rem;
}
.footer-1 {
  display: flex;
  flex-direction: column;
}
.footer-1-hed {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.footer-1-hed-cer {
  width: 1.4rem;
  height: 0.3rem;
  background-color: orange;
  border-radius: 99999px;
}
.footer-1-hed-name {
  color: #1e641e;
  font-size: 1.1rem;
}
.footer-1-body {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-1-body-ch {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.footer-1-body-ch-1 {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 99999px;
}
.footer-1-body-ch-2 {
  color: #1e641e;
}
.footer-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}
.footer-2-1 {
  color: #007400;
}
.footer-2-2 {
  color: orange;
  font-size: 0.8rem;
  margin-right: 1rem;
}
.footer-picpng {
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.footer-picpng-pic {
  width: 14rem;
  height: 14rem;
  background-image: url("../poster/li.png");
  background-size: cover;
  margin-left: 1rem;
}
.h4 {
  height: 4rem;
  transition: all 500ms;
}
.t {
  top: calc(3.5rem / 2 - 0.5rem);
  transition: all 600ms;
}
.art-hed {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  height: 20rem;
}
.art-hed-2 {
  object-fit: cover;
  width: 30rem;
  height: 20rem;
  border-radius: 0.3rem;
}
.art-hed-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.art-hed-1-1 {
  font-size: 3.5rem;
}
.art-hed-1-2 {
  color: orange;
  font-weight: 900;
}
.art-body {
  margin: 1rem 3rem 2rem 3rem;
}
@media all and (max-width: 500px) {
  .header {
    justify-content: center;
    height: 4rem;
  }
  .hed-1 {
    display: none;
  }
  .hed-2 {
    width: 15.2rem;
    height: 3rem;
  }
  .h4 {
    height: 3.5rem;
  }
  .panel-btn {
    display: flex;
  }

  .space {
    height: 30rem;
  }
  .footer {
    position: fixed;
    height: 30rem;
    width: 100%;
    bottom: 0;
    z-index: -3;
    background-color: rgb(228, 242, 223);
    display: flex;
    flex-direction: column;
  }
  .footer-dad {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 0;
    gap: 2rem;
  }
  .footer-picpng-pic {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 0;
    top: 13rem;
  }
  .art-hed {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }
  .art-hed-2 {
    width: 24rem;
    height: 16rem;
  }
  .art-body {
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
    font-size: 0.9rem;
  }
  .art-hed-1-1 {
    font-size: 3rem;
  }
}
.sh {
  color: orange;
  text-decoration: underline;
  margin: 0 0.1rem 0 0.1rem;
}
